.navbar {
  height:50px;
  width: 100%;
  background-color:#E91E63;
  color:whitesmoke;
  text-align:center;
  display: table; 
  overflow: hidden;  
  font-size: 25px;
  /* border-bottom: 1px solid antiquewhite; */
}

.navbar-text{
  display: table-cell;
  vertical-align: middle;
}
  .sidebar{
  width: 100%;
  background-color: green;
  height:100vh;
  padding: 1rem;

  }
  
  .main {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    height:100vh;
    background-color:black;
    color:black
  }

  .card{
    height:200px;
    width:300px;
    border:1px solid white;
    text-align: center;
    justify-content: center;
    margin:5px;

  }
  
  

  .container{
    width: 100%;
  }
  